<!DOCTYPE html>
<html>
<head>
  <title>Cryptic QR ~ Secure your QR codes</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page">
    <h1>Cryptic QR</h1>
    <div id="tagline">Secure QR codes</div>
    <%= yield %>
  </div>
</body>
</html>
